.relative {
    position: relative;
    width: 1000px;
    height: 300px;
    border: 1px solid rgb(220, 245, 248);
    border-radius: 5px;
    background-color: cyan;
  } 
  
  .absolute {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 300px;
    height: 200px;
    border: 0px solid rgb(210, 229, 245);
  }
  .absolute1 {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
    border: 0px solid rgb(210, 229, 245);
  }
  .absolute2 {
    position: absolute;
    bottom: 5px;
    left: 70px;
    width: 60px;
    height: 60px;
    border: 0px solid rgb(210, 229, 245);
  }

  .absolute3 {
    position: absolute;
    bottom: 5px;
    left: 135px;
    width: 60px;
    height: 60px;
    border: 0px solid rgb(210, 229, 245);
  }

  .box-text{
    position: absolute;
    text-align: left;
    text-align: bottom;
    top: 5px;
    left: 190px;
    width: 60px;
    height: 60px;
  }